@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}
.cabecalho {
    padding: 0;
}

.menu-btn {
    position: fixed;
    top: 16px;
    left: 16px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: none;
}

.cabecalho__menu {
    position: fixed;
    top: 0;
    left: -300px;
    height: 57%;
    width: 200px;
    background: linear-gradient(#000000 15%, #c12424);
    transition: left 0.3s ease-in-out;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: white;
}

.boruto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cabecalho__menu__link {
    color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: 1s all;
    /* padding: 16px;
    margin: 10px 0; */
    padding: 16px 0;
    text-align: center;
}

.cabecalho__menu__link:hover {
    background-color: #111;
}
.menu-open .cabecalho__menu {
    left: 0;
}
.titulo-destaque {
    color: #22D4FD;
}
.apresentacao {
    padding: 8% 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__conteudo__li {
    margin: 10px 0;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 10px solid #22d4fd;
    width:  70%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 1s all;
}
.apresentacao__links__navegacao:hover {
    font-size: 28px;
    background-color: rgb(94, 83, 83);
}
.leo {
    width: 50%; 
    margin-left: 25px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 5px #b76f03, -10px -10px 30px 5px rgb(255, 140, 0);
}
.rodape {
    background-color: #22D4FD;
    color: black;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    body {
        width: auto;
    }
    .cabecalho {
        padding: 5%;
    }
    .cabecalho__menu {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .apresentacao {
        flex-direction: column-reverse;
        /* padding: 5%; */
    }
    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__conteudo__titulo .apresentacao__conteudo__texto {
        text-align: left;
        font-size: 24px;
    }
    li {
        margin: 10px 0;
    }
    .apresentacao__links {
        width: auto;
    }
    .apresentacao__links__navegacao {
        padding: 16.5px 2px;
    }
    .leo {
        width: 100%;
        margin: 30px 0;
    }
}